<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>997881215116-9it0no7elu44vvjusfm4s1pp3v5p56vh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.997881215116-9it0no7elu44vvjusfm4s1pp3v5p56vh</string>
	<key>API_KEY</key>
	<string>AIzaSyC6F8baMmI5cdo0nnKDxokXC9rTA31zt84</string>
	<key>GCM_SENDER_ID</key>
	<string>997881215116</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.listaDeCompras</string>
	<key>PROJECT_ID</key>
	<string>lista-de-compras-af9da</string>
	<key>STORAGE_BUCKET</key>
	<string>lista-de-compras-af9da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:997881215116:ios:5b06de1c524fb23aaee3a9</string>
</dict>
</plist>